<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <!--for routing, use / to begin the route to ensure it is starting at the route and not at the current route-->
          <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
        </li>
        <li><a [routerLink]="['/events/new']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Create Event</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/user/login']">Login</a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['/user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </li>
        </ul>
      </div>
      <!--submit event waits on the button click or enter to send the input anf call the function searchSessions-->
      <form id="searchForm" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form navbar-right"  >
        <div class="form-group">
        <!--banana in a box syntax for 2 way binding of the input-->
          <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <!--modal-trigger is a directive. pass in the value of the id to specify which modal we are triggering with this button-->
        <button class="btn btn-default" modal-trigger="searchResults">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

<!--Content projection-->
<simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
  <div class="list-group">
    <!--*ngFor loops through an array [founSessions] for each element [session]-->
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events/', session.eventId]">{{session.name}}</a>
  </div>
</simple-modal>